@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div class="container">
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>
    <div class="text"> Welcome to my amazing web page. </div>
    <div id="animationBody">
        <div id="animation"></div>
    </div>
    <button onclick="objectMove()">Click this awesome button</button>
</div>

